<!DOCTYPE html>

<html>

<footer class="page-footer {{ style[0] }}">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="blue-text">This is my footer</h5>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="blue-text">Links</h5>
                <ul>
                    <li><a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/dan-lafferty/"
                            target="_blank">LinkedIn</a></li>
                    <li><a class="blue-text text-lighten-2" href="https://github.com/djlafferty7"
                            target="_blank">Github</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright {{ style[1] }}">
        <div class="container blue-text">
            © 2022 Copyright Dan Lafferty
        </div>
    </div>
</footer>

</html>
